.layout-container {
  height: 100vh;
}

mat-sidenav {
  width: 220px;
  background-color: #fafafa;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

mat-sidenav-content {
  background-color: #f0f2f5;
}

.content {
  padding: 24px;
}

