h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.tabla-container {
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
}

table {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

th {
  font-weight: 600;
  background-color: #f5f5f5;
}

td, th {
  text-align: center;
  padding: 12px;
}

button {
  margin: 0 4px;
}
