<mat-nav-list>
  <a mat-list-item routerLink="/lista-alumnos" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    <span>Lista de Alumnos</span>
  </a>

  <a mat-list-item routerLink="/abm-alumnos" routerLinkActive="active">
    <mat-icon>person_add</mat-icon>
    <span>Agregar Alumno</span>
  </a>

  <a mat-list-item routerLink="/lista-cursos" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    <span>Lista de Cursos</span>
  </a>

  <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Configuración</span>
  </a>
</mat-nav-list>

