<mat-nav-list>
  <a mat-list-item routerLink="/alumnos" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    <span>Lista de Alumnos</span>
  </a>

  <a mat-list-item routerLink="/cursos" routerLinkActive="active">
    <mat-icon>list</mat-icon>
    <span>Lista de Cursos</span>
  </a>

  <a mat-list-item routerLink="/configuracion" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Configuración</span>
  </a>
  </mat-nav-list>

  <div class="navbar-footer">
    <button mat-list-item (click)="logout()" class="logout-button">
      <mat-icon>logout</mat-icon>
      <span>Salir</span>
    </button>
  </div>

